#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center items vertically */
}
.navbar.shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.text
{
    margin-left: auto;
    margin-right: auto;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: default;
  padding: 0px;
  margin: 0 30px;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  padding-bottom: 10px;
}

@keyframes rainbow {
  0% { color: #ff0000; }
  16% { color: #ff8000; }
  32% { color: #ffff00; }
  48% { color: #80ff00; }
  64% { color: #00ff00; }
  80% { color: #00ff80; }
  100% { color: #00ffff; }
}

button:hover {
  animation: rainbow 1s infinite;
  cursor: pointer;
}

.button-container {
  padding: 10px;
  margin: 10px;
}

img{
  padding: 0;
  margin: 0 30px;
  position: relative;
}

.navbar img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease; 
  margin-top: auto; /* Center vertically */
  margin-bottom: auto; /* Center vertically */
}

.navbar img:hover {
  transform: scale(1.1);
}
