#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar.shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.text
{
    margin-left: auto;
    margin-right: auto;
}

.b1 {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: default;
  padding: 0px;
  margin: 0 30px;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  padding-bottom: 10px;
}

@keyframes rainbow {
  0% { color: #ff0000; }
  16% { color: #ff8000; }
  32% { color: #ffff00; }
  48% { color: #80ff00; }
  64% { color: #00ff00; }
  80% { color: #00ff80; }
  100% { color: #00ffff; }
}

.b1:hover {
  animation: rainbow 1s infinite;
  cursor: pointer;
}

.button-container {
  padding: 10px;
  margin: 10px;
}

img{
  padding: 0;
  margin: 0 30px;
  position: relative;
}

.navbar img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease; 
  margin-top: auto; /* Center vertically */
  margin-bottom: auto; /* Center vertically */
}

.navbar img:hover {
  transform: scale(1.1);
}



.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}



.card {
  margin: 1em;
  width: 27%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #333;
}

.two {
  border: 1px solid #ccc;
  border-radius: 10px;
}


.one , .three{
  border: 1px solid #ccc;
  border-radius: 10px;

}

.upperHalf , .lowerHalf {
  display: flex;
  flex-direction: column;
}

.planName{
  display: flex;
  justify-content: flex-start;
  padding-left: 1.8em;
}

.plan{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding-top:1em;
  color:#c75e5e;
}

p {
  margin: 0;
  color: #d3b7b7;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.8em;
}

.dollar {
  font-size: 3em;
  font-weight: 600;
  margin-right: 10px;
  color:#ffffff;
}

.duration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  color: #d3b7b7;
}

.duration p {
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0.6em;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.btn {
  animation: pulse-border 1s infinite;
  border: 2px solid #e67e22;
  color: #e67e22;
  background-color: #fff;
}

.btn:hover {
  background-color: #fff;
}

@keyframes pulse-border {
  0% {
    border-color: #e67e22;
  }
  50% {
    border-color: #3498db;
  }
  100% {
    border-color: #e67e22;
  }
}
.yellow {
  animation: pulse-border 1s infinite;
  border: 2px solid #e67e22;
  background-color:orange;
  color: white;
}

.yellow:hover{
  background-color:orange;
}

.lowerHalf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features {
  margin-top: 0.6em;
  font-weight: bold;
  color: #fff;
  padding: 0;
}

.below {
  margin-left: 2em;
}

.feat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tick {
  width: 20px; 
  height: 20px;
  margin-right: 0; 
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
  }

  .navbar img {
    margin: 10px 0;
  }

  .b1 {
    margin: 0;
    padding: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
  }

  .card {
    width: 90%;
  }
}